
<div class="container mt-4 mb-4">

    <h2 class="text-center mb-4">{{title}}</h2>
    <hr class="mb-4">
    <button type="button" class="btn btn-primary mb-4"(click)="GoToList()">Return to Sub Category List</button>
    <div class="alert alert-success" role="alert" *ngIf="message">
        <strong>{{message}}</strong>
    </div>

    <form class="row g-3" [formGroup]="subCatForm"(ngSubmit)="AddSubCategory()">


        <div class="form-group">
        <div class="col-md-12">
        <label for="">Main Category</label>
        
        <select class="custom-select" formControlName="catId" required>

            <option selected value="0" disabled>Choose the main category</option>
            <option *ngFor="let cat of categories" [value]="cat.categoryId">{{cat.categoryName}}</option>
            <div class="alert alert-danger" *ngIf="!this.subCatForm.get('catId').valid && this.subCatForm.get('catId').touched">MainCategory name is required</div>

        </select>
    
    
        </div>
      </div>
        <div class="col-md-6">
            <label for="catName" class="form-label">SubCategory's Name <span class="required-asterisk">*</span></label>
            <input name="catName" formControlName="catName"type="text" class="form-control" placeholder="Enter Category's name" required>
            <div class="alert alert-danger" *ngIf="!this.subCatForm.get('catName').valid && this.subCatForm.get('catName').touched">SubCategory name is required</div>
        </div>

        <div class="form-check mb-3">
        </div>

        <div class= "col-12  mt-5">
           <button type="submit" class="btn btn-dark" [disabled]="!(this.subCatForm.valid)|| this.subCatForm.get('catName').value < 1" >{{btnTitle}}</button>
        </div>

    </form>

</div>


