
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>



  <!-- //================================================== -->
  <div class="container mt-4">
    <div class="fs">
       <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
   
    </div>
    <div class="about"> 
       <h1 class="font_2" style="text-align:center;font-size:40px">About Us</h1>
       <p class="font_4" style="line-height:1.7em;text-align:center;font-size:26px; font-family:Arial">Sawp It is a website that helps people
       to swap or sell the prouducts they have and don't need it . On our website you can add products for swapping or selling 
       and also can buy products from ather users.
       </p>
       
    </div>
   
    <div class="about">
       <h1 class="font_2" style="text-align:center;font-size:40px">Our Team</h1>
   
    </div>
   
    <div class="fs">
       <ng-image-slider [images]="team" #nav></ng-image-slider>
   
    </div>
   
       
   </div>