<footer class="bg-dark text-center text-white ">
  <!-- Grid container -->
  <div class="container p-3 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4" id="sec"  >
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" role="button"
        ><i class="fab fa-facebook-f"><fa-icon [icon]=" faFacebookF "></fa-icon></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1"  role="button"
        ><i class="fab fa-twitter"><fa-icon [icon]=" faTwitter "></fa-icon></i
      ></a>

      

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"> <fa-icon [icon]="faInstagram  "></fa-icon></i>
     </a>

      

      
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" routerLink="/" >SWAP IT.com</a>
  </div>
  <!-- Copyright -->
</footer>