/* .container{
    margin-top:100px;
}

.profile-card {
  width: 100%;
  min-height: 550px;
  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13,28,39,0.6);
  background: rgb(121, 120, 120);
  border-radius: 12px;
  max-width: 700px;
  position: relative;}

  .form-control{
      width: 400px;
      height: 50px;
      margin-left: 140px;
      border: none;
      margin-bottom: 20px;
      
  }
    
  .form-label{
    margin-left: 220px;
    color: black;
    font-weight: bold;
    margin-top: 20px;
  }
  .dropdown{
      
      margin-left: 200px;
      margin-bottom: 20px;
  }
  
  .button {
    background: none;
    border: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 19px;
   margin-left: 260px;
    padding: 15px 40px;
    min-width: 120px;
    border-radius: 50px;
    min-height: 55px;
    color: #fff;
    cursor: pointer;
    backface-visibility: hidden;
    transition: all .3s;
   

    background: linear-gradient(45deg, #0a0a0a, #353334);
    box-shadow: 0px 4px 30px rgba(233, 234, 236, 0.4);

}
button:hover{
    box-shadow: 0px 7px 30px rgba(164, 167, 170, 0.75);
} */

h2{
    margin-top: 50px;
    margin-bottom: 40px;
}

label{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin-bottom: 10px;
   margin-top: 10px;
}

button{
    text-align: center;
    margin-top: 20px;
}

.required-asterisk{
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
}

     

  