<div class="container">
    <div class="accessContainer text-center mt-6">
        <div class="accessImage mb-3 ">

            <img src="assets/images/accessdenied.png" class="img-fluid rounded" alt="">
        </div>
        <div class="accesstxt mb-3">
            <h4 class="text-danger">You dont Have the Ability to Enter to This Page</h4>
        </div>
        <div class="accessbtn">
            <button type="button" class="btn btn-outline-danger" (click)="goHome()">Home Page</button>
        </div>
    </div>
</div>