
<div class="container">

    <h2 class="text-center">Edit Profile</h2>

    <div class="alert alert-success fade show" role="alert" *ngIf="this.successMessage != null && this.successMessage != ''">
        <span>{{this.successMessage}}</span>
    </div>

    <form class="row g-3"(ngSubmit)="edit()" [formGroup]="userForm">
        <div class="col-12"> 
            <img id="userimage" [src]="urlimage" width="80px" height="80px" style="">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" formControlName="image" (change)="imageprocess($event)">
                <label class="custom-file-label" for="customFile" *ngIf="this.userForm.value.image == null">Choose image</label>
                <label class="custom-file-label" for="customFile" *ngIf="this.userForm.value.image != null">{{this.userForm.value.image}}</label>
            </div>
        </div>

        <div class="col-md-6">
            <label for="inputName" class="form-label">First Name <span class="required-asterisk">*</span></label>
            <input name="firstname" formControlName="firstName" type="text" class="form-control" placeholder="Enter Your first name" required>
            <div class="alert alert-danger" *ngIf="!this.userForm.get('firstName').valid && this.userForm.get('firstName').touched">First name is required</div>
        </div>

        <div class="col-md-6">
            <label for="inputName" class="form-label">Last Name <span class="required-asterisk">*</span></label>
            <input name="lastname" formControlName="lastName" type="text" class="form-control" placeholder="Enter Your Last name" required>
            <div class="alert alert-danger" *ngIf="!this.userForm.get('lastName').valid && this.userForm.get('lastName').touched">Last name is required</div>
        </div>

        <div class="col-12"> 
            <label for="inputPhone" class="form-label">Mobile Number</label>
            <input type="text" formControlName="phoneNumber" class="form-control" id="inputPhone" placeholder="Enter Your Mobile Number">
        </div>

        <div class="col-md-6">
            <label for="inputAddress2" class="form-label">Country <span class="required-asterisk">*</span></label>
            <input name="country" formControlName="country" type="text" class="form-control" placeholder="Enter Your  Country" required>
            <div class="alert alert-danger" *ngIf="!this.userForm.get('country').valid && this.userForm.get('country').touched">Country is required</div>
       </div>

        <div class="col-md-4"> 
            <label for="inputCity" class="form-label">City</label>
            <input type="text" formControlName="city" class="form-control" id="inputCity" placeholder="Enter Your City">
        </div>

        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip Code</label>
            <input type="text" formControlName="zipCode" class="form-control" id="inputZip" placeholder="Zip Code">
        </div>

        <div class= "col-12 text-center">
           <button class="btn btn-dark mb-3" [disabled]="!(this.userForm.valid)">Edit</button>
        </div>
    </form>

    <div class="alert alert-primary">
        <span>Reset Your Password? </span>
        <a class="alert-link" aria-current="page" routerLink="/resetpassword" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">Reset</a>
    </div>

    <div class="alert alert-danger">
        <span>Delete Your Account? </span>
        <a class="alert-link dlt" (click)="open(content)">Delete</a>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h6 class="modal-title">Delete Your Account</h6>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class=" ">
            <div class="card" id="view">
                <div class= "col-12 text-center">
                    <span class="d-block my-3">Are You sure?</span>   
                 </div>
                <div class="modal-footer">
                <button id="btClose" type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
                <button type="button" class="btn btn-danger" (click)="delete()" (click)="modal.close('Save click')">Delete</button>
            </div>
            </div>
        </div>
      </ng-template>

</div>
