
<div class="container">

    <h2 class="text-center">Sign Up</h2>

    <div class="alert alert-success fade show" role="alert" *ngIf="this.successMessage != null && this.successMessage != ''">
        <span>{{this.successMessage}}</span>
    </div>

    <form class="row g-3"(ngSubmit)="singup()" [formGroup]="userForm">

        <div class="col-md-6">
            <label for="inputName" class="form-label">First Name <span class="required-asterisk">*</span></label>
            <input name="firstname" formControlName="firstName"type="text" class="form-control" placeholder="Enter Your first name" required>
            <div class="alert alert-danger" *ngIf="!this.userForm.get('firstName').valid && this.userForm.get('firstName').touched">First name is required</div>
        </div>

        <div class="col-md-6">
            <label for="inputName" class="form-label">Last Name <span class="required-asterisk">*</span></label>
            <input name="lastname" formControlName="lastName" type="text" class="form-control" placeholder="Enter Your Last name" required>
            <div class="alert alert-danger" *ngIf="!this.userForm.get('lastName').valid && this.userForm.get('lastName').touched">Last name is required</div>
        </div>

        <div class="col-md-12">
            <label for="inputEmail4" class="form-label">Email <span class="required-asterisk">*</span></label>
            <input name="email" formControlName="email" type="email" class="form-control" placeholder="Enter Your Email" required (blur)="isEmailExists()">
            <div class="alert alert-danger" *ngIf="this.userForm.get('email').errors?.required && this.userForm.get('email').touched">Email is required</div>
            <div class="alert alert-danger" *ngIf="this.userForm.get('email').errors?.email && this.userForm.get('email').touched">Invalid Email</div>
            <div class="alert alert-danger" *ngIf="this.existsmessage !='' && this.existsmessage !=null && this.userForm.get('email').value !== null && this.userForm.get('email').value !== ''">{{this.existsmessage}}</div>
        </div> 

        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Password <span class="required-asterisk">*</span></label>
            <input name="password" formControlName="password" type="password" class="form-control" placeholder="Enter Your password" required minlength="6" >
            <div class="alert alert-danger" *ngIf="this.userForm.get('password').errors?.required && this.userForm.get('password').touched">Password is required</div>
            <div class="alert alert-danger" *ngIf="this.userForm.get('password').errors?.minlength && this.userForm.get('password').touched">Password should be more than 6 characters</div>
            <div class="alert alert-danger" *ngIf="!(this.isPasswordValid()) && this.userForm.get('password').touched">Password should contain Capital letter, small letter and a number</div>
        </div>

        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Confirm Password <span class="required-asterisk">*</span></label>
            <input name="passwordConfirm" formControlName="confirmPassword" type="password" class="form-control" placeholder="Please, Confirm Your password" required >
            <div class="alert alert-danger" *ngIf="this.userForm.get('confirmPassword').errors?.required && this.userForm.get('confirmPassword').touched">Confirm password is required</div>
            <div class="alert alert-danger" *ngIf="(this.passwordsNotMatch()) && this.userForm.get('confirmPassword').touched">Confirm password should match password</div>
        </div>

        <div class="col-md-6">
            <label for="inputAddress2" class="form-label">Country <span class="required-asterisk">*</span></label>
            <input name="country" formControlName="country" type="text" class="form-control" placeholder="Enter Your  Country" required>
            <div class="alert alert-danger" *ngIf="!this.userForm.get('country').valid && this.userForm.get('country').touched">Country is required</div>
       </div>

        <div class="col-md-4"> 
            <label for="inputCity" class="form-label">City</label>
            <input type="text" formControlName="city" class="form-control" id="inputCity" placeholder="Enter Your City">
        </div>

        <div class="col-md-2">
            <label for="inputZip" class="form-label">Zip Code</label>
            <input type="text" formControlName="zipCode" class="form-control" id="inputZip" placeholder="Zip Code">
        </div>

        <div class= "col-12 text-center">
           <button class="btn btn-dark" [disabled]="!(this.userForm.valid) || this.passwordsNotMatch() || isEmailExists()">Create Account</button>
        </div>

    </form>

</div>