<div class="container">
    <div class="NotFoundContainer text-center mt-4">
        <div class="notFoundImage mb-3 ">

            <img src="assets/images/download.png" class="img-fluid rounded" alt="">
        </div>
        <div class="notFoundtxt mb-3">
            <h4 class="text-danger">The Page you Want to Reach is Not Found</h4>
        </div>
        <div class="notFoundbtn">
            <button type="button" class="btn btn-outline-danger" (click)="goHome()">Home Page</button>
        </div>
    </div>
</div>