
<div class="container">

    <h2 class="text-center">Reset Password</h2>

    <div class="alert alert-danger fade show" role="alert" *ngIf="this.dangerMessage != null && this.dangerMessage != ''">
        <span>{{this.dangerMessage}}</span>
    </div>

    <div class="alert alert-success fade show" role="alert" *ngIf="this.successMessage != null && this.successMessage != ''">
        <span>{{this.successMessage}}</span>
    </div>

    <form class="row g-3"(ngSubmit)="reset()" [formGroup]="userForm">

        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Old Password <span class="required-asterisk">*</span></label>
            <input name="password" formControlName="oldPassword" type="password" class="form-control" placeholder="Enter Your password" required minlength="6" >
            <div class="alert alert-danger" *ngIf="this.userForm.get('oldPassword').errors?.required && this.userForm.get('oldPassword').touched">Old Password is required</div>
        </div>

        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">New Password <span class="required-asterisk">*</span></label>
            <input name="newPassword" formControlName="newPassword" type="password" class="form-control" placeholder="Enter Your password" required minlength="6" >
            <div class="alert alert-danger" *ngIf="this.userForm.get('newPassword').errors?.required && this.userForm.get('newPassword').touched">New Password is required</div>
            <div class="alert alert-danger" *ngIf="this.userForm.get('newPassword').errors?.minlength && this.userForm.get('newPassword').touched">Password should be more than 6 characters</div>
            <div class="alert alert-danger" *ngIf="!(this.isPasswordValid()) && this.userForm.get('newPassword').touched">Password should contain Capital letter, small letter and a number</div>
        </div>

        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Confirm New Password <span class="required-asterisk">*</span></label>
            <input name="confirmNewPassword" formControlName="confirmNewPassword" type="password" class="form-control" placeholder="Please, Confirm Your password" required >
            <div class="alert alert-danger" *ngIf="this.userForm.get('confirmNewPassword').errors?.required && this.userForm.get('confirmNewPassword').touched">Confirm password is required</div>
            <div class="alert alert-danger" *ngIf="(this.passwordsNotMatch()) && this.userForm.get('confirmNewPassword').touched">Confirm password should match password</div>
        </div>

        <div class= "col-12 text-center">
           <button class="btn btn-dark" [disabled]="!(this.userForm.valid) || this.passwordsNotMatch()">Reset Password</button>
        </div>

    </form>

</div>
