<div class="container">
    <h2 class="text-center">Forgot Password</h2>
    <div class="alert alert-success fade show" role="alert" *ngIf="this.message != null && this.message != ''">
        <span>{{this.message}}</span>
    </div>
    <form class="row g-3" (ngSubmit)="forgotrequest()" [formGroup]="forgotForm">
        <div class="col-12">
            <label for="inputEmail4" class="form-label">Email <span class="required-asterisk">*</span></label>
            <input name="email" formControlName="email" type="email" class="form-control" placeholder="Enter Your Email" required >
            <div class="alert alert-danger" *ngIf="this.forgotForm.get('email').errors?.required && this.forgotForm.get('email').touched">Email is required</div>
            <div class="alert alert-danger" *ngIf="this.forgotForm.get('email').errors?.email && this.forgotForm.get('email').touched">Invalid Email</div>
        </div> 
        <div class= "col-12 text-center">
           <button class="btn btn-dark" [disabled]="!(this.forgotForm.valid)">Send Mail</button>
        </div>
    </form>
</div>
